div{
  min-height: 10%;
  max-height: 10%;
  margin: 1%;
}
img{
  max-width: 1%;
  transform: scale(3);
  color: white;
  background-color: #1D9BF9;
  margin-top: 1%;
  margin-left: 1%;  

}
ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #07252f;
    background-color: #1D9BF9;
    
  }
  

li{
  line-height: 100%;
  float: right;

}

  
  li a {  
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: rgb(29, 155, 249);
  }