<div class="container">
    <div>
      <!--Welcome <b>{{name}}</b>.<br /> -->
      You can check your informations and your tweet history below.
    </div>
    <hr />
    <div>
      About you:
      <div class="col-md-9">
        <app-user-tilebusiness [users]="users"></app-user-tilebusiness>
      </div>
    </div>
    <hr />
    <div>
      Your tweets:
      <div class="col-md-9">
        <app-post-tileprofilebusiness [tweets]="tweets"></app-post-tileprofilebusiness>
      </div>
    </div>
    <hr />
  </div>
