/*.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: black;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}

.post-posted_by {
    margin-top: 5px;
}

.login {
    background-color: #99ffff;
} */

.card {
    width: 400px;
    /*margin: 0 auto; */
}
  
.card-header {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}
  
.card-body {
    padding: 20px;
}
  
.card-text {
    font-size: 14px;
}