body {
    margin: 0px;
    padding: 0px;
}

#recaptcha{
    width: 32%;
    position: absolute;
    top: 270px;
    right: 445px;
    padding: 10px;
    height: 26px;
    border: none;
    padding-top: 18px;
}

button:disabled{
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

re-captcha.is-invalid > div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;
  }

#container {
    text-align: center;
    margin: auto;
    width: 100%;
}

#logo {
    width: 3%;
    height: 46px;
    top: 50px;
    margin-top: 30px;
    margin-right: 100px;
}

#span1 {
    position: absolute;
    top: 140px;
    font-size: 15px;
    left: 479px;
}

#inp1 {
    width: 32%;
    position: absolute;
    top: 133px;
    left: 472px;
    padding: 10px;
    opacity: 0.5;
    height: 26px;
    border: none;
    background-color: #f0f2f5;
    border-bottom: solid 2px black;
    padding-top: 18px;
}

#span2 {
    position: absolute;
    top: 204px;
    font-size: 15px;
    left: 479px;
}

#inp2 {
    width: 32%;
    position: absolute;
    top: 200px;
    left: 472px;
    padding: 10px;
    opacity: 0.5;
    height: 26px;
    border: none;
    background-color: #f0f2f5;
    border-bottom: solid 2px black;
    padding-top: 18px;
}

#inp3 {
    width: 32%;
    position: absolute;
    top: 250px;
    left: 770px;
    padding: 10px;
    opacity: 0.5;
    height: 26px;
    border: none;
    background-color: #f0f2f5;
    border-bottom: solid 2px black;
    padding-top: 18px;
}

#span3 {
    position: absolute;
    top: 218px;
    font-size: 15px;
    left: 1040px;
}

#btn1 {
    width: 31%;
    position: absolute;
    top: 390px;
    left: 472px;
    border: none;
    background-color: #1da1f2;
    padding: 14px;
    color: white;
    font-weight: 600;
    border-radius: 33px;
    cursor: pointer;
}

#link {
    position: absolute;
    top: 460px;
    left: 588px;
}

#link a {
    color: #1DA1F2;
    text-decoration: none;
}

#link a:hover {
    text-decoration: underline;
}

#business {
    position: absolute;
    top:440px;
    left: 37%;
}

#business a {
    color: #1DA1F2;
    text-decoration: none;
}

#business a:hover {
    text-decoration: underline;
}

#para {
    position: absolute;
    left: 638px;
    top: 77px;
    font-size: 22px;
    font-weight: 700;
}