<!-- post 1 -->
<div class="post">
    <div class="post__avatar">
      <img src="/assets/man_avatar.png" alt="image">
    </div>

    <div class="post__body">
      <div class="post__header">
        <div class="post__headerText">
          <h3>
            Pera Peric
            <span class="post__headerSpecial"
              >@peraa543</span
            >
          </h3>
        </div>
        <div class="post__headerDescription">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <img src="/assets/dog.jpg" alt="image">
      <div class="post__footer">
        <span class="material-icons"> favorite_border </span>
        <span class="material-icons"> repeat </span>
      </div>
    </div>
  </div>
  <!-- post ends -->

  <!-- post 2 -->
  <div class="post">
    <div class="post__avatar">
      <img src="/assets/woman_avatar.jpg" alt="image">
    </div>

    <div class="post__body">
      <div class="post__header">
        <div class="post__headerText">
          <h3>
            Maja Simic
            <span class="post__headerSpecial"
              >@majaaa211</span
            >
          </h3>
        </div>
        <div class="post__headerDescription">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <img src="/assets/car2.jpg" alt="image">
      <div class="post__footer">
        <span class="material-icons"> favorite_border </span>
        <span class="material-icons"> repeat </span>
      </div>
    </div>
  </div>
  <!-- post ends -->