<div class="reddit-body">
    <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-9">
          <app-accept-requests-tile [acceptrequests]="acceptrequests"></app-accept-requests-tile>
          <button class="btnCreatePost" (click)="acceptRejectRequest()">Accept/reject request obican1234</button>
          <button class="btnCreatePost" (click)="acceptRejectRequestObican123()">Accept/reject request obican123</button>
          <button class="btnCreatePost" (click)="acceptRejectRequestBiznis12345()">Accept/reject request biznis12345</button>
          <!--<button class="btnCreatePost" (click)="createFollowObican123()">Follow obican123</button>
          <button class="btnCreatePost" (click)="createFollowBiznis123()">Follow biznis123</button> -->
        </div>
      </div>
    </div>
</div>
