<div class="sidebar">
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreateTweet()">Create tweet</button>
        <!--<button class="btnCreatePost" (click)="goToProfile()">Your profile</button> -->
        <button class="btnCreatePost" (click)="changePassword()">Change password</button>
        <button class="btnCreatePost" (click)="changePrivacy()">Change privacy</button>
        <button class="btnCreatePost" (click)="getFollowRequests()">My follow requests</button>
        <button class="btnCreatePost" (click)="followNewUsers()">Follow new users</button>
        <button class="btnCreatePost" (click)="getMyFollowers()">Get my followers</button>
        <button class="btnCreatePost" (click)="getPeopleIFollow()">Get people I follow</button>
        <button class="btnCreatePost" (click)="getSuggestions()">Get my people suggestions</button>
        <!--<button class="btnCreatePost" (click)="goToProfileBusiness()">Your profile</button> -->
    </div>
</div>
