
<!-- Display Posts-->
<div  *ngFor="let tweet of tweets; let i = index">
  <div *ngIf="i >= 0">
  <div class="tweet">
    <img class="tweet__author-logo" src="/assets/woman_avatar.jpg" />
    <div class="tweet__main">
      <div class="tweet__header">
        <div class="tweet__author-name">
          {{tweet.posted_by}}
        </div>
        <div class="tweet__author-slug">
          @beckiandchris
        </div>
        <div class="tweet__publish-time">
          38m
        </div>
      </div>
      <div class="tweet__content">
        <p class="post-text" [innerHtml]="tweet.text"></p>
      </div>
      <span>
        <app-like-button [tweet] = "tweet"></app-like-button>
      </span>
    </div>
  </div>
  </div>
</div>
