<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Login</title>
</head>

<body>
    <div id="container">
        <p id="para">Forgot password? Let's make a new account</p>

        <div class="imgContainer">
            <img src="/assets/TwitterLogo.png" alt="not loaded" id="logo">
        </div>


        <div id="inpDiv">
            <div class="col-md-6">
                <span id="inp1"><a href="register">
                  Register as user
                </a></span>                       
              </div>
              <div class="col-md-6">
                <span id="inp2"><a href="register-business">
                  Register as business user
                </a></span>
              </div>
        </div>

    </div>
</body>

</html>
