<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Register</title>
</head>

<body>
    <div id="container">
        <p id="para">Register to Twitter</p>

        <div class="imgContainer">
            <img src="/assets/TwitterLogo.png" alt="not loaded" id="logo">
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="signup()">

        <div id="inpDiv">
        <div class="col-md-6">
            <input type="text" [formControlName]="'name'" id="inp1" class="form-control" name="name" required
                autofocus>
            <span *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched" id="span1">
              Name is required
            </span>
            <span *ngIf="!signupForm.get('name').touched" id="span1">
              Name
            </span>
            <span id="span1">
              Name
            </span>                                     
        </div>
        <div class="col-md-6">
          <input type="text" [formControlName]="'surname'" id="inp3" class="form-control" name="surname" required
              autofocus>
          <span *ngIf="!signupForm.get('surname').valid && signupForm.get('surname').touched" id="span3">
            Surname is required
          </span>
          <span *ngIf="!signupForm.get('surname').touched" id="span3">
            Surname
          </span>
          <span id="span3">
            Surname
          </span>                                     
        </div>
            <!--<span id="span1">Name</span>
            <input type="text" name="" id="inp1">
            <span id="span3">Surname</span>
            <input type="text" name="" id="inp3"> -->
            <span id="span4">Gender</span>
            <select id="inp4" name="">
                <option value="man">Man</option>
                <option value="woman">Woman</option>
            </select>
            <div class="col-md-6">
              <input type="text" [formControlName]="'age'" id="inp5" class="form-control" name="age" required
                  autofocus>
              <span *ngIf="!signupForm.get('age').valid && signupForm.get('age').touched" id="span5">
                Age is required
              </span>
              <span *ngIf="!signupForm.get('age').touched" id="span5">
                Age
              </span>
              <span id="span5">
                Age
              </span>                                     
            </div>
            <div class="col-md-6">
              <input type="text" [formControlName]="'place'" id="inp6" class="form-control" name="place" required
                  autofocus>
              <span *ngIf="!signupForm.get('place').valid && signupForm.get('place').touched" id="span6">
                Place is required
              </span>
              <span *ngIf="!signupForm.get('place').touched" id="span6">
                Place
              </span>
              <span id="span6">
                Place
              </span>                                     
            </div>
            <div class="col-md-6">
              <input type="text" [formControlName]="'username'" id="inp7" class="form-control" name="username" required
                  autofocus>
              <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" id="span7">
                Username is required
              </span>
              <span *ngIf="!signupForm.get('username').touched" id="span7">
                Username
              </span>
              <span id="span7">
                Username
              </span>                                     
            </div>
            <div class="col-md-6">
              <input type="password" [formControlName]="'password'" id="inp2" class="form-control" name="password" required
                  autofocus>
              <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" id="span2">
                Password is required
              </span>
              <span *ngIf="!signupForm.get('password').touched" id="span2">
                Password
              </span>
              <span id="span2">
                Password
              </span>                                     
            </div>
            <div class="col-md-6">
              <input type="password" [formControlName]="'repeatedPassword'" id="inp8" class="form-control" name="repeatedPassword" required
                  autofocus>
              <span *ngIf="!signupForm.get('repeatedPassword').valid && signupForm.get('repeatedPassword').touched" id="span8">
                Repeated password is required
              </span>
              <span *ngIf="!signupForm.get('repeatedPassword').touched" id="span8">
                Repeated password
              </span>
              <span id="span8">
                Repeated password
              </span>                                     
            </div>
            <!--<span id="span5">Age</span>
            <input type="number" name="" id="inp5">
            <span id="span6">Place</span>
            <input type="text" name="" id="inp6">
            <span id="span7">Username</span>
            <input type="text" name="" id="inp7" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
            <span id="span2">Password</span>
            <input type="password" name="" id="inp2">
            <span id="span9">Show password</span>
            <input type="checkbox" onclick="myFunction()" id="inp9">
            <span id="span8">Repeated password</span>
            <input type="password" name="" id="inp8">
            <span id="span10">Show repeated password</span>
            <input type="checkbox" onclick="myFunction2()" id="inp10"> -->
            <button id="btn1" type="submit">Register</button>
        </div>

        </form>

        <div id="link">

        <a href="" >Already have an account? Log in to Twitter</a>
 </div>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("inp2");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }

        function myFunction2() {
          var x = document.getElementById("inp8");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
</body>

</html>