<div class="container">
    <div>
      <!--Welcome <b>{{name}}</b>.<br /> -->
      You can check your informations and your tweet history below.
    </div>
    <hr />
    <div>
      About you:
      <div class="col-md-9">
        <app-user-tilenewuser [user]="user"></app-user-tilenewuser>
      </div>
    </div>
    <hr />
    <div>
      Your tweets:
      <div class="col-md-9">
        <app-post-tile-profilenewuser [tweets]="tweets"></app-post-tile-profilenewuser>
      </div>
    </div>
    <hr />
  </div>
