<div class="reddit-body">
    <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-9">
          <app-follow-new-users-tile [newfollowings]="newfollowings"></app-follow-new-users-tile>
          <button class="btnCreatePost" (click)="createFollowGrafBaza5()">Follow grafbaza5</button>
          <button class="btnCreatePost" (click)="createFollowObican1234()">Follow obican1234</button>
          <button class="btnCreatePost" (click)="createFollowBiznis123()">Follow biznis123</button>
          <button class="btnCreatePost" (click)="createFollowGrafBaza()">Follow grafbaza</button>
          <button class="btnCreatePost" (click)="createFollowGrafBaza2()">Follow grafbaza2</button>
          <button class="btnCreatePost" (click)="createFollowGrafBaza3()">Follow grafbaza3</button>
          <button class="btnCreatePost" (click)="createFollowGrafBaza4()">Follow grafbaza4</button>
          <button class="btnCreatePost" (click)="createFollowMilos()">Follow milos</button>
        </div>
      </div>
    </div>
</div>
