<div class="reddit-body">
    <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-9">
          <app-follow-new-users-tile [newfollowings]="newfollowings"></app-follow-new-users-tile>
          <button class="btnCreatePost" (click)="createFollowGrafBaza5()">Zaprati grafbaza5</button>
          <button class="btnCreatePost" (click)="createFollowObican123()">Zaprati obican123</button>
          <button class="btnCreatePost" (click)="createFollowBiznis123()">Zaprati biznis123</button>
        </div>
      </div>
    </div>
</div>
